<div class="signup-form">

  <form action="/auth/signup" method="POST">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Full name</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          placeholder="Insert your full name"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Must be 8-20 characters long"
        />
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Level</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="gridRadios1"
            value="option1"
            checked
          />
          <label class="form-check-label" for="gridRadios1">
            Beginner
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="gridRadios2"
            value="option2"
          />
          <label class="form-check-label" for="gridRadios2">
            Intermediate
          </label>
        </div>
        <div class="form-check disabled">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="gridRadios3"
            value="option3"
        
          />
          <label class="form-check-label" for="gridRadios3">
            Advanced
          </label>
        </div>
      </div>
    </fieldset>
    
          </label>
        </div>
      </div>
    </div>
    <div class="signup-button">
      <button type="submit" class="btn btn-primary btn-align">Sign Up</button>
    </div>
  </form>

  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}
</div>






{{!-- OLD SIGNUP --}}

{{!-- <form action="/auth/signup" method="POST">
  <label>
    Email
    <input type="text" name="email" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}} --}}