<h1>About this Project</h1>
<hr />
<p>This project came from the passion and determination of two friends who love
  to dance salsa. Salsa, more precisely Cuban, brings the desire to overcome
  daily stress and make more friends. Dance is a means of communication of
  bodies and state of mind. Phil and Raquel would like to invite everyone to
  participate in this platform and dance the Cha-Cha-Cha!!!</p>