<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<a href="/videos">Videos</a>
<hr />
<a href="/auth/signup">Signup</a>
<hr />
<a href="/auth/login">Login</a>
<hr />
<a href="/auth/logout">Logout</a>