<h1 class="all-videos-header">Add New Video 🎥</h1>
<hr />
<form action="/videos/upload" method="POST" enctype="multipart/form-data">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
   <div class="col-sm-10"> <input type="text" name="title" 
   class="form-control" id="inputEmail13" placeholder="Title" />
  </div>
</div>

  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Level</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="level"
          id="gridRadios1"
          value="Beginner"
          checked
        />
        <label class="form-check-label" for="gridRadios1">
          Beginner
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="level"
          id="gridRadios2"
          value="Intermediate"
        />
        <label class="form-check-label" for="gridRadios2">
          Intermediate
        </label>
      </div>
      <div class="form-check disabled">
        <input
          class="form-check-input"
          type="radio"
          name="level"
          id="gridRadios3"
          value="Advanced"
        />
        <label class="form-check-label" for="gridRadios3">
          Advanced
        </label>
      </div>
    </div>
  </fieldset>

<div class="row mb-3">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
  <div class="col-sm-10">
  <textarea
    type="text"
    name="description"
    class="form-control"
    id="inputEmail3"
    placeholder="Description"
    cols="5"
    rows="5"
  ></textarea>
  </div>
</div>

  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">
    Duration</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="duration"
          id="gridRadios1"
          value="Short (0-1.5 mins)"
          checked
        />
   
      <label class="form-check-label" for="gridRadios1" value="Short (0-1.5 mins)">Short (0-1.5 minutes)</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="duration"
          id="gridRadios2" value="Medium (1.5-3 mins)
          ">
          <label class="form-check-label" for="gridRadios2">Medium (1.5-3 mins)</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="duration"
          id="gridRadios2" value="Long (3-5 mins)">
      
          <label class="form-check-label" for="gridRadios3">Long (3-10 mins)</label>
      </div>
      
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="duration"
          id="gridRadios2" value="Very Long (10+ mins)">
      
          <label class="form-check-label" for="gridRadios4">Very Long (10+ mins)</label>
      </div>
    </div>
  </fieldset>
    
<div class="row mb-3">
  <label class="col-sm-2 col-form-label" for="cloudinary">Video</label>
    <div class="col-sm-10">
    <input type="file" class="form-control" id="inputEmail3" name="cloudinary" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Add New Video</button>

</form>




{{!-- OLD UPLOAD PAGE --}}

{{!-- <h1>Add New Video</h1>
<hr />
<form action="/videos/upload" method="post" enctype="multipart/form-data">
  <label>
    Title
    <input type="text" name="title" placeholder="Title" />
  </label>

  <label>Level
    <select name="level" id="level">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
  </label>

  <label>Description
    <textarea
      name="description"
      id="description"
      placeholder="Description"
      cols="30"
      rows="10"
    ></textarea>
  </label>

  <label>
    Duration
    <select name="duration" id="duration">
      <option value="Short (0-1.5 mins)">Short (0-1.5 minutes)</option>
      <option value="Medium (1.5-3 mins)">Medium (1.5-3 mins)</option>
      <option value="Long (3-10 mins)">Long (3-10 mins)</option>
      <option value="Very Long (10+ mins)">Very Long (10+ mins)</option>
    </select>
  </label>

  <label for="cloudinary">
    Video
    <input type="file" name="cloudinary" />
  </label>

  <button type="submit">Add New Video</button>
</form> --}}