<h1>Add New Video</h1>
<hr />
<form action="/videos/upload" method="post">
  <label>
    Title
    <input type="text" name="title" placeholder="Title" />
  </label>

  <label>Level
    <select name="level" id="level">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </label>

  <label>Description
    <textarea
      name="Description"
      id="Description"
      placeholder="Description"
      cols="30"
      rows="10"
    ></textarea>
  </label>

  <label>
    Duration
    <select name="duration" id="duration">
      <option value="short">Short (0-1.5 minutes)</option>
      <option value="medium">Medium (1.5 - 3 minutes)</option>
      <option value="long">Long(3-10minutes)</option>
      <option value="very-long">Very Long(10+ minutes)</option>
    </select>
  </label>

  <button type="submit">Add New Video</button>
</form>