<h1>Add New Video</h1>
<hr />
<form action="/videos/upload" method="post" enctype="multipart/form-data">
  <label>
    Title
    <input type="text" name="title" placeholder="Title" />
  </label>

  <label>Level
    <select name="level" id="level">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Advanced">Advanced</option>
    </select>
  </label>

  <label>Description
    <textarea
      name="Description"
      id="Description"
      placeholder="Description"
      cols="30"
      rows="10"
    ></textarea>
  </label>

  <label>
    Duration
    <select name="duration" id="duration">
      <option value="Short (0-1.5 mins)">Short (0-1.5 minutes)</option>
      <option value="Medium (1.5-3 mins)">Medium (1.5-3 mins)</option>
      <option value="Long (3-10 mins)">Long (3-10 mins)</option>
      <option value="Very Long (10+ mins)">Very Long (10+ mins)</option>
    </select>
  </label>

  <label for="cloudinary">
    Video
    <input type="file" name="cloudinary" />
  </label>

  <button type="submit">Add New Video</button>
</form>