@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
/* * {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
} */
span {
  font-family: "Grape Nuts", cursive;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

  /* position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 80%; */
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
