@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* * {
  margin: 0px;
} */

body {
  padding: 5px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav > a {
  text-decoration: none;
}

video {
  width: 15vw;
}

.big-video {
  width: 40vw;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 10px;
}

.nav-links li {
  display: inline-block;
  padding: 0 1.25rem;
}

.nav-links li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
  color: rgba(0, 173, 181, 0.8);
}

.edit-button {
  width: 15px;
  height: 15px;
}

.delete-button {
  width: 15px;
  height: 15px;
}

.video-level,
.video-description {
  color: rgb(111, 111, 111)
}

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  border: 2px solid black;
  margin: 10px;

}

.video-actions {
  display: flex;
  align-items: space-evenly;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
}
